.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  flex-shrink: 0;
}

.secret {
  margin-right: 12px;
  background-color: #6c757d;
  border: 1px solid #596067;
}

.player {
  margin-left: 12px;
  background-color: #fff3cd;
  border: 1px solid #d2c8a9;
}

.secret img {
  width: 100%;
  height: auto;
  padding: 8px;
}

.player img {
  width: 100%;
  height: auto;
  padding: 14px;
}
